*,*:after,*:before{    /**is selecting everything. This allows us to apply the border-box model to all elements on the page.*/
	box-sizing: border-box;
}

.col-50{
	flex: 50%;
	padding: 0 16px;
}

.col-25{
  display: flex;
  flex-direction: row;
  justify-content:center;
}

@media(max-width:50rem){
  .Product_Listing {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  #aboutContainer1{
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  #aboutContainer2{
  	display: flex;
    align-items: center;
    flex-direction: column;
  }

  #aboutContainer2 p{
    max-width: 100%;
  }

  .events{
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .row{
  flex-direction: column-reverse;
  }

  .col-20{
    margin-top: 20px;
  }
/*navigation responsiveness*/
  .navigation{
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  #navOptions{
    padding-top: 1rem;
  }
  .col-22{
    margin-bottom: 20px;
  }

  #homepageNav #navOptions nav a{
    display: flex;
    align-items: right;
    flex-direction: row;
    text-align: right;
    justify-content: flex-end;
  }

  #Product_Detail h4{
    max-width: 80%;
  }

}

@media(max-width:30rem){
  
  #aboutContainer1{
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  #aboutContainer2{
    display: flex;
    align-items: center;
    flex-direction: column;
  }




}

