*,*::after,*::before{    /**is selecting everything. This allows us to apply the border-box model to all elements on the page.*/
	box-sizing: border-box;
}

.col-50{
	flex: 50%;
	padding: 0 16px;

}
@media(max-width:40em){
  .Product_Listing{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    }
}