/*
  STYLE GUIDE STYLING 
*/

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}


/*fonts: 
font-family: 'Neuton', serif;
font-family: 'Alice', serif;
font-family: 'ZCOOL XiaoWei', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Questrial', sans-serif;
font-family: 'Comfortaa', cursive;
*/

body {
  font-family: 'Montserrat', sans-serif;
  font-size:1rem;
  box-sizing: border-box;
  justify-content: center;
  margin:0;
}

.index {
  margin: 0;
  height: 100%;
  overflow: hidden;
}


/*homepage background pic styling*/
#homepic {
  font-family: 'Montserrat', sans-serif;
  padding: 1rem;
  font-size:1rem;
  box-sizing: border-box;
  background-image: url("../img/tree_man_flip.png");
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

/*homepage style*/

.title {
/*  position: absolute;*/
  top: 50%;
  left: 50%;
/*  transform: translate(-50%, -50%);*/
}

/*style guide page style*/
#style_guide_body{
  padding:2rem 2rem;
}



/*navigation bar styling*/
.navigation{
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
  padding-right: 1rem;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 3rem;
}


.navigation a{
  text-decoration: none;
}

nav a{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  letter-spacing:1px;
  display: inline-block;
  color: black;
  padding: 10px 10px;
  text-decoration: none;
}

nav a:hover, focus{
  color: #4CAF50;
  text-decoration: none;
}

.active{
  color: #C1A693;
  text-decoration: none;  
}

nav a:active{
  color: #C1A693;
  text-decoration: none;  
}

#homepageNav #navOptions nav a{
  color: #000000;
}


.element {
  padding-bottom: 1rem;
/*  border-top-width: 0.15rem;
*/  border-top-style: solid;
  border-top-color: #C1A693;
}

/*changing input and label styles*/
label{
  color:#4CAF50;
  min-width:2rem; 
  margin: 0.5em;
  display: inline-block;
}

h1{
  letter-spacing: 0.7px;
  font-family: 'ZCOOL XiaoWei', serif;
  margin: 0rem;
  font-size: 3.5rem;
  color: #4CAF50;
}

h2 {
  font-family: 'ZCOOL XiaoWei', serif;
  letter-spacing: 0.7px;
  margin-bottom: 1rem;
  margin-top:0rem;
  color: #000;
  font-size: 2rem;/*font size not changing???*/

}

h3 {
  font-family: 'Questrial', sans-serif;
  letter-spacing: 0.45px;
  line-height: 1.4;
  font-weight: 200;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  margin-top:0rem;
  color: #C1A693;
}

h4 {
  font-family: 'ZCOOL XiaoWei', serif;
  letter-spacing: 0.5px;
  line-height: 1.25;
  color: #C1A693;
  font-size: 1.5rem;
  font-weight: 400;
}

h5{
  font-family: 'Questrial', sans-serif;
  letter-spacing: 0.3px;
  line-height: 1.4;
  font-weight: 100;
  font-size: 0.9rem;
  color: #4CAF50;

}

/*change label style*/
label{
  font-style: normal;
  font-size:0.8rem;
}

/*change paragraph style*/
p {
  font-family: 'Questrial', sans-serif;
  letter-spacing: 0.45px;
  line-height: 1.4;
  font-size: 1.2rem;
  font-weight: lighter;
  display: inline-block;
  max-width: 90%;
  min-width: 
  padding-top:0.5rem;
  padding-bottom:0.5rem;
  margin:0;
  widows:5;

}



#homeimg{
	height: 100%;
}

code {
  background-color: #EEE;
  padding: 0.5rem;
  display: block;
  max-width: 80%;

}

section {  
  margin-top: 1em;
  margin-bottom: 2em;
}


/* 
  INTERACTIVE ELEMENTS -------------------
*/

/* Heading styling */
.brand a{
  text-decoration: none;
  display: inline-block;

}

.brand a:hover, .brand a:focus {
  text-decoration: none;
}

/* Styling for the navigation button */
.button-nav {
  display: inline-block;
  border: 1.5px solid #4CAF50;
  border-radius: 8px;
  background-color: white;
  color: #4CAF50;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: lighter;/*???*/
  transition-property: color; 
  transition-duration: 0.5s;
  text-decoration: none;
}

.button-nav:hover, .button-nav:focus {
  background-color: #4CAF50;
  color: white;
}

.navigation{
    align-items: right;
}

/*changing intext link styles*/

#inText a{
  display: inline-block;
  padding: 0.5rem;
  color:#4CAF50;
  transition-property: color; 
  transition-duration: 0.25s;
  text-decoration: none;
}

#inText a:hover, #inText a:focus{
  color: #C1A693;
}

/*changing ImageLink styles*/
a img:hover, a img:focus{
  opacity: 0.3;
}

.linkImageText {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#imgFrame{
  width: 20rem;
  height: 20rem;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

/* 
  Color Palette Block -------------------
*/
.color1 {
  margin-top: 10px: 
  height: 50px;
  width: 200px;
  background-color: #4CAF50;
}

.color2 {
  height: 50px;
  width: 200px;
  background-color: #C1A693;
}

.color3 {
  height: 50px;
  width: 200px;
  background-color: #4CAF50;
  border-style: solid;
  border-width: 0.3px;
}

.color4 {
  height: 50px;
  width: 200px;
  background-color: #000;
  color:#fff;

}



/*COMBINED ELEMENTS -------------------*/

/*Product_listing Styles*/
.Product_Listing{
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-around;
/*  text-align: center;*/
}
.Product_Listing div{
  padding:1em 2em;
  display: flex;
  align-items: flex-start;
  flex-direction: column ;
  justify-content: space-around;
  max-width: 90%;
/*  text-align: center;*/
}

.Product_Listing img {
  width: 100%;
  height: 100%;
}

#Product_1{
  flex:1;
  order:1;
}

#Product_2{
  flex:1;
  order:2;
}

#Product_3{
  flex:1;
  order:3;
}

#Product_Detail a img{
  width: 50%;
  height: 50%;
}

#Product_Detail h4{
  max-width: 50%;
}

/*About page Styles*/
#aboutContainer1{
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-around;
  align-content: flex-start;
  min-width: 20rem;
}

#aboutContainer1 div{
  padding:1em 2em;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
  text-align: left;
  margin-bottom: 3rem;

}

#aboutContainer1 #about1{
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

#aboutContainer1 #about1 h2 p{
  align-items: flex-start;
  padding-top: 2rem;
}

#aboutContainer1 p{
  font-size:0.95rem;
}


#aboutContainer1 img{
  width: 100%;
  height: 100%;
}

#about1 h2 h3 p{
  margin-top: 2rem;
}

#about1 {
  order:2;
}

#about2{
  order:1;
}

#aboutContainer2{
  padding-top:3rem;
  padding-bottom: 5rem ;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: color #ffffff;
  background-color: #C1A693;
}

#aboutContainer2 #about3{
  padding:1em 2em;
  display: flex;
  align-items: center;
  flex-direction: column ;
  justify-content: space-between;
  text-align: left;
}

#about3 p{
  align-items: space-between;
  max-width: 40%;
  color: white;
}



/*events page Styles*/
.events{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.events div{
  padding:1em 2em;
  display: flex;
  align-items: center;
  flex-direction: column ;
  justify-content: center;
  max-width: 60%;
  text-align: left;
}

.events h2 h5 p {
  padding: 1em 1em;
  align-items: flex-start;
}

.events p{
  padding: 2em 1em;
  max-width: 70%;
  min-width: 20rem;
}


.events img {
  min-width: 80%;
  max-width:100%;
  height: auto;
  width: auto;
}

/*Payment form styles*/

.Checkout{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-around;
}
table img{
  width: 25%;
  height: 25%
}


table{
  align-content: center;
}

.container-check{
  justify-content: center;
}
.Checkout form {
  width: 30%;
  padding: 12px 20px;
  border: 1.5px solid #C1A693;
  border-radius: 5px;
}

.Checkout .price{
  font-style: italic;
  color:#4CAF50;
}
.Checkout .price-total{
  font-size: 2.1rem;
}
.icon-container img{
  padding: 5px 15px;
  font-size: 24px;
  width: 8%;
  height: 8%;
}

.element h5, .Checkout h3{
  text-align: center;
}
/*combine with lexi's payment form*/

.container-payment{
  margin: 2em;
/*  background-color: #C1A693;*/  
  padding: 15px 20px 15px 20px;
  border: 1.5px solid #C1A693;
  border-radius: 5px;
}

/*set the payment form to be responsive  ----- .col-50
*/
.col-50{
  padding: 0 16px;
}

.btnPay{
  background-color: rgb(0,200,30);
  color: lightgrey;
  font-size: 1.2rem;
  margin: 10px 0;
  padding: 12px;
  border:none;
  border-radius: 3px;
  cursor: pointer;
}

.btnPay:hover, .btnPay:focus{
  background-color: #4CAF50;
  text-decoration-color: #EFEEEA;
}

/*---contact page----*/
.contact{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.contact div{
  padding:1em 2em;
  display: flex;
  align-items: center;
  flex-direction: column ;
  justify-content: center;
  max-width: 80%;
  text-align: left;
}
.contact h2 h5 p{
  padding: 1em 1em;
  align-items: flex-start;
}


.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-20 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-80 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-20,.col-80 {
  padding: 0 16px;
}
.contact img {
  min-width: 80%;
  max-width:100%;

}
img {
  width: 100%;
  height: 100%;
}

.container {
  padding: 5px 20px 15px 20px;

}


/*----------footer-----------*/
#citations{
  margin-top:  7em;
}

.footer-container{
  width: 100%;
  position:relative;
  bottom: 0;
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;

}

.col-25{
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 0.9rem;
  color: #fff;
  text-align: center;
}

.col-25 nav a{
  color: #fff;
}

.col-25 nav a:hover, focus{
  color: #4CAF50;
  text-decoration: none;
}


/*#indexfooter-container{
  width: 100%;
  position:absolute;
  bottom: 0;
  display: -ms-flexbox; 
  display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
}*/

#indexfooter{
  width: 100%;
  background-color: #222;
  padding: 10px 0px;
  position: absolute;
  bottom: 0;
  color: #fff;
  text-align: center;
  font-size: 0.85rem;
}

footer{
  width: 100%;
  background-color: #222;
  padding: 10px 0px;
  position: relative;
  bottom: 0;
  color: #fff;
  text-align: center;
  font-size: 0.85rem;
}

/**/
#citations{
  padding:1em 2em;
  display: flex;
  align-items: center;
  flex-direction: column ;
  justify-content: center;
  max-width: 80%;
  text-align: left;
}