/*
  STYLE GUIDE STYLING 
*/

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: 'Cabin', sans-serif;
  padding: 1rem;
  font-size:1rem;
  box-sizing: border-box;
  justify-content: center;
}


/*homepage background pic styling*/
#homepic {
  font-family: 'Cabin', sans-serif;
  padding: 1rem;
  font-size:1rem;
  box-sizing: border-box;
  background-image: url("../img/TablePic.jpg");
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

/*homepage style*/

.centered {
/*  position: absolute;*/
  top: 50%;
  left: 50%;
/*  transform: translate(-50%, -50%);*/
}

/*navigation bar styling*/
.navigation{
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
}


.navigation a{
  text-decoration: none;
}

nav a{
  display: inline-block;
  color: black;
  padding: 10px 10px;
  text-decoration: none;
}

nav a:hover, focus{
  color: #4CAF50;
  text-decoration: none;
}

.active{
  color: #C1A693;
  text-decoration: none;  
}

nav a:active{
  color: #C1A693;
  text-decoration: none;  
}

#style_guide_nav{
  margin-top: 3rem;
}

.element {
  padding-bottom: 1rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: #C1A693;
}

/*changing input and label styles*/
label{
  color:#4CAF50;
  min-width:2rem; 
  margin: 2em;
  display: inline-block;
}

h1{
  margin: 0rem;
  font-size: 3rem;
  color: #4CAF50;
}

h2 {
  margin-top: 0rem;
  color: #000;
  font-size: 2rem;/*font size not changing???*/

}

h3 {
  margin-top: 2rem;
  font-size: 1.8rem;
  color: #4CAF50;
}

h4 {
  font-style: italic;
  color: #C1A693;
  font-size: 1.5rem;
  font-weight: 400;
}

h5{
  font-size: 1.2rem;
  color: #4CAF50;

}

/*change label style*/
label{
  font-style: normal;
  font-size:0.8rem;
}

/*change paragraph style*/
p {
  display: inline-block;
  max-width: 90%;
  font-weight: 400;/*???*/
  font-size:1rem;
  padding-top:1em;
  padding-bottom:1em;
}



#homeimg{
	height: 100%;
}

code {
  background-color: #EEE;
  padding: 0.5rem;
  display: block;
  max-width: 80%;

}

section {  
  margin-top: 2em;
  margin-bottom: 2em;
}


/* 
  INTERACTIVE ELEMENTS -------------------
*/

/* Heading styling */
.brand a{
  text-decoration: none;
  display: inline-block;

}

.brand a:hover, .brand a:focus {
  text-decoration: none;
}

/* Styling for the navigation button */
.button-nav {
  display: inline-block;
  border: 1.5px solid #4CAF50;
  border-radius: 8px;
  background-color: white;
  color: #4CAF50;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: lighter;/*???*/
  transition-property: color; 
  transition-duration: 0.5s;
  text-decoration: none;
}

.button-nav:hover, .button-nav:focus {
  background-color: #4CAF50;
  color: white;
}

.navigation{
    align-items: right;
}

/*changing intext link styles*/

#inText a{
  display: inline-block;
  padding: 0.5rem;
  color:#4CAF50;
  transition-property: color; 
  transition-duration: 0.25s;
  text-decoration: none;
}

#inText a:hover, #inText a:focus{
  color: #C1A693;
}

/*changing ImageLink styles*/
a img:hover, a img:focus{
  opacity: 0.3;
}

.linkImageText {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* 
  Color Palette Block -------------------
*/
.color1 {
  margin-top: 10px: 
  height: 50px;
  width: 200px;
  background-color: #4CAF50;
}

.color2 {
  height: 50px;
  width: 200px;
  background-color: #C1A693;
}

.color3 {
  height: 50px;
  width: 200px;
  background-color: #4CAF50;
  border-style: solid;
  border-width: 0.3px;
}

.color4 {
  height: 50px;
  width: 200px;
  background-color: #000;
  color:#fff;

}



/*COMBINED ELEMENTS -------------------*/

/*Product_listing Styles*/
.Product_Listing{
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-around;

}
.Product_Listing div{
  padding:1em 2em;
  display: flex;
  align-items: flex-start;
  flex-direction: column ;
  justify-content: space-around;
  max-width: 90%;
}

.Product_Listing img {
  width: 100%;
  height: 100%;
}

#Product_1{
  flex:1;
  order:1;
}

#Product_2{
  flex:1;
  order:2;
}

#Product_3{
  flex:1;
  order:3;
}


/*About page Styles*/
#aboutContainer1{
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-around;
  align-content: flex-start;

}

#aboutContainer1 div{
  padding:1em 2em;
  display: flex;
  align-items: flex-start;
  flex-direction: row ;
  justify-content: center;
  text-align: left;

}

#aboutContainer1 #about1{
  padding:1em 2em;
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

#aboutContainer1 h2 p{
  align-items: flex-start;
}

#aboutContainer1 img {
  width: 100%;
  height: 100%;
}


#aboutContainer2{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: #EBEBF0;

}

#aboutContainer2 #about3{
/*  padding:1em 2em;
*/display: flex;
  align-items: center;
  flex-direction: column ;
  justify-content: space-between;
  text-align: left;
}

#aboutContainer2 p{
  align-items: space-between;
  max-width: 40%;
}

/*events page Styles*/
.events{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;

}
.events div{
  padding:1em 2em;
  display: flex;
  align-items: center;
  flex-direction: column ;
  justify-content: center;
  max-width: 60%;
  text-align: left;
}
.event h2 h5 p {
  align-items: flex-start;
  max-width: 30%;
}

.events img {
  min-width: 80%;
  height: 100%;
}

/*Payment form styles*/

.Checkout{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-around;
}

.Checkout form {
  width: 30%;
  padding: 12px 20px;
  border: 1.5px solid #C1A693;
  border-radius: 5px;
}

.Checkout .price{
  font-style: italic;
  color:#4CAF50;
}

/*combine with lexi's payment form*/

.container-payment{
  margin: 2em;
/*  background-color: #C1A693;*/  
  padding: 15px 20px 15px 20px;
  border: 1.5px solid #C1A693;
  border-radius: 5px;
}

/*set the payment form to be responsive  ----- .col-50
*/
.col-50{
  padding: 0 16px;
}

.btnPay{
  background-color: rgb(0,200,30);
  color: lightgrey;
  font-size: 1.2rem;
  margin: 10px 0;
  padding: 12px;
  border:none;
  border-radius: 3px;
  cursor: pointer;
}

.btnPay:hover, .btnPay:focus{
  background-color: #4CAF50;
  text-decoration-color: #EFEEEA;
}

.icon-container img{
  padding: 5px 15px;
  font-size: 24px;
  width: 8%;
  height: 8%;
}

.contactinfo{
  background-color:#CFDEDE;
}

/*Contact page Styles*/
/*#contactContainer1{
    background-color:#CFDEDE;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-around;
  align-content: flex-start;

}

#contactContainer1 div{
  padding:1em 2em;
  display: flex;
  align-items: flex-start;
  flex-direction: row ;
  justify-content: center;
  text-align: left;

}

#contactContainer1 #contact1{
  padding:1em 2em;
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

#contactContainer1 h2 p{
  align-items: flex-start;
}

#contactContainer2 img {
  width: 100%;
  height: 100%;
}*/

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-20 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-80 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-20,.col-80 {
  padding: 0 16px;
}
.col-80 img {
  width: 100%;
  height: 100%;
}

.container {
  background-color: #CFDEDE;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

#citations{
  margin-top:  7em;
}